body{
    background: #ebebeb;
}
.geral{
    padding-top: 7%;
    padding-left: 3%;
    float: left;
}
.form-group-a{
    float: left;
}
.col-sm-10-a{
    padding: 5px;
}
.form-group-b{
 float: left contour;
}