{% extends "template.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="../../estilos-paginas/cadastro-atleta.css"/>
{% endblock %}
{% block body %}
    <div class="geral">
        <form class="form-horizontal-a" method="post" action="cadastro-equipe.php" style="width: 700px;">
                {{mensagem}}
                <input type="hidden" name="publicar" value="1">
                <h3>Dados da Equipe</h3>

                <div class="col-sm-5-a">
                    <label  class="col-sm-2 control-label">Esporte</label>
                    <select name="esporte_id" id="esporte_id">    
                        <optgroup label="esportes">
                            {% for esporte in esportes %}
                                <option value="{{esporte.id}}">{{esporte.nome}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                </div>
                <div class="form-group-a">
                    <label  class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10-a">
                        <input name="nome" type="text" class="form-control"  placeholder="Nome da Equipe" required>
                    </div>
                </div>
                <div class="form-group-a" required>
                    <label for="inputEmail3" class="col-sm-2 control-label">cidade</label><br>
                    <div class="col-sm-10-a">
                        <input name="cidade" type="text" class="form-control"  placeholder="Cidade Equipe" required>
                    </div>
                </div>
                <div class="form-group-a" required>
                    <label for="inputEmail3" class="col-sm-2 control-label">Presidente</label><br>
                    <div class="col-sm-10-a">
                        <input name="presidente" type="text" class="form-control"  placeholder="Presidente Equipe" required>
                    </div>
                </div>
                <div class="form-group-b">
                    <div class="col-sm-offset-2 col-sm-10-a">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="javascript: return confirm('Tem certeza que deseja cadastrar a Equipe?');>Cadastrar Equipe</button>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}