{% extends "template.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="../../estilos-paginas/fale-conosco.css"/>
{% endblock %}
{% block body %}
    <form class="form-horizontal-a" method="post" action="cadastrar-campeonato.php" style="width: 700px;">
        <input type="hidden" name="campeonato" value="1">
        {{mensagem}}
        <h3>Dados do Campeonato</h3>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10-a">
                <input name="nome" type="text" class="form-control" maxlength="60" placeholder="Nome do Campeonato" required>
            </div>
        </div> 

        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Rodadas</label>
            <div class="col-sm-10-a">
                <input name="quantidade" type="text" class="form-control" maxlength="60" placeholder="Quantidade de Rodadas" required>
            </div>
        </div><br>

        <div class="form-group-b" style="width: 150px;">
            <div class="col-sm-offset-2 col-sm-10-a">
                <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="javascript: return confirm('Tem certeza que deseja cadastrar o Campeonato?');">Cadastrar</button>
            </div>
        </div>
    </form>
{% endblock %}