{% extends "template.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="../../estilos-paginas/fale-conosco.css"/>
{% endblock %}
{% block body %}
    <form class="form-horizontal-a" method="post" action="contato.php" style="width: 700px;">
        {{mensagem}}
        <input type="hidden" name="publicar" value="1">
        <h3>Dados do Usuario</h3>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-10-a">
                <input name="nome" type="text" class="form-control" maxlength="60" placeholder="Nome Completo" required>
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10-a">
                <input name="email" type="email" class="form-control" maxlength="80" id="inputEmail3" placeholder="exemplo@hotmail.com" required>
            </div>
        </div>
        <div class="radio" >
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="M" checked >
                M
            </label>
        </div>
        <div class="radio">
            <label>
                <input  type="radio" name="optionsRadios" id="optionsRadios2" value="F">
                F
            </label>
        </div>
        <div class="form-group-a">
            <label for="inputEmail3" class="col-sm-2 control-label">Nascimento</label><br>
            <div class="col-sm-10-a">
                <input name="nascimento" type="date" class="form-control" maxlength="10" placeholder="DD/MM/AAAA" required>
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Logradouro</label>
            <div class="col-sm-10-a">
                <input name="logradouro" type="text" class="form-control" maxlength="70" placeholder="Rua, Av..." required>
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Cidade</label>
            <div class="col-sm-10-a">
                <input name="cidade" type="text" class="form-control" placeholder="Cidade" required>
            </div>
        </div>
        <div class="form-group-a">
            <label  class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-10-a">
                <select name="estado" id="id_estados" >
                    <optgroup label="Escolha o Estado">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espirito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraiba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantis</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group-a" >
            <label for="inputEmail3" class="col-sm-2 control-label">Data Solicitacao</label><br>
            <div class="col-sm-10-a">
                <input name="data_solicitacao" type="text" class="form-control" value="{{date}}">
            </div>
        </div>
        <div class="form-group-a" >
            <label for="inputEmail3" class="col-sm-2 control-label">Assunto</label><br>
            <div class="col-sm-10-a">
                <input name="assunto" type="text" class="form-control" required>
            </div>
        </div>
        <h3>Mensagem do Usuario</h3>
        <textarea name="mensagem" class="form-control a" required></textarea>
        <div class="form-group-b">
            <div class="col-sm-offset-2 col-sm-10-a">
                <button class="btn btn-lg btn-primary btn-block" type="submit" onClick="javascript: return confirm('Tem certeza que deseja enviar a solicitaçao?'); > Enviar < /button>
                            < /div>
                            < /div>
                            < /form>
                {% endblock %}