{% extends "template.html.twig" %}
{% block styleSheet %}
    <link rel="stylesheet" type="text/css" href="../estilos-paginas/estilo-imc.css"/>
{% endblock %}
{% block body %}
    
    <div class="row">
        <div class="col-lg-6 col-md-8">
        
        <form class="form-signin" action="imc.php" method="post">
            {{mensagem}}
            <h2 class="form-signin-heading">Calcule seu IMC</h2>
            <div class="form-group">
                <label for="inputPeso" class="sr-only"> </label>
                <input name="peso" type="text" maxlength="4" class="form-control a" placeholder="Peso" required />
            </div>
            <div class="form-group">
                <label for="inputAltura" class="sr-only"></label>
                <input name="altura" type="text" maxlength="4" class="form-control b" placeholder="Altura" required/>
            </div>
            <div class="botao">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Calcular</button>
            </div>

            <h2>Dúvidas sobre o IMC</h2>
            <p><b>O que significa IMC?</b> - IMC é uma sigla utilizada para Índice de Massa Corporal, que é uma medida utilizada para medir a obesidade</p>
            <p><b>Como fazer o cálculo do IMC?</b> - O cálculo do IMC é feito dividindo o peso (em quilogramas) pela altura (em metros) ao quadrado</p>            <p><b>Quais são as limitações do IMC?</b> - O IMC pode apresentar alterações, dependendo de fatores como a prática de exercícios físicos.</p>
            <p><b>O cálculo do IMC é diferente para mulheres e homens?</b> - Não, o IMC se calcula igual para homens e mulheres.</p>

        </form>
            
    </div> <!-- /container -->
    </div> <!-- /container -->
    {% if calculo is empty %}

    {% else %}
        <div class="resultado">
            <p><b>Sua massa corporea é de {{calculo.valor}}</b></p>
            <p><b>situação: {{calculo.situacao}} </b></p>
            <p><img src="../../imagens/tabela-imc.jpg"></p>
        </div>
    {% endif %}
{% endblock%}