{% extends "template.html.twig" %}
{% block body %}
    <div class="menulateral" >
        {% if login == false %}
            <form class="form-signin" action="../../public/login/processo_login.php" method="post">
                <div class="container">
                    <h2 class="form-signin-heading">Realize o Login</h2>
                    <label for="inputEmail" class="sr-only ">Email </label>
                    <input name="email" type="email" id="inputEmail" class="form-control " placeholder="Email" required autofocus/>
                    <label for="inputPassword" class="sr-only">Senha</label>
                    <input name="senha" type="password" id="inputPassword" class="form-control" placeholder="Senha" required/>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me" /> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                </div> 
                <div class="cads">
                    <a href="../usuarios/cadastro.php">cadastra-se</a> |
                    <a href="#">esqueci a senha</a>
                </div>
            </form>
        {% else %}
            <form class="form-horizontal" method="post" name="id" action="../login/sair.php">
                <input type="hidden" name="editar" value="1"/>
                <div class="form-group">
                    <div 
                        class="alert " role="alert">Bem vindo {{login.usuario}}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">sair</button>
                    </div>              
                </div>
            </form>
        {% endif %}
        {% if login == true %}
            <div class="link" >
                <a href="https://twitter.com" target="_blanck"> <img src="../../imagens/twitter.jpg"></a> 
                <a href="https://facebook.com" target="_blanck"> <img src="../../imagens/facebook.jpg"> </a>
                <a href="../../public/indiceMassa/imc.php"> <img src="../../imagens/calculo-imc.jpg"> </a>
            </div>

            <!-- tabela clima -->
            <div class="clima" style="align: center; ">
                <br><iframe src="http://widget.tempoagora.com.br/selos/r7_2/Widget/" scrolling="no" frameborder="0" height="250"  style="padding-left: 7%; padding-top: 2%; width: 355px;"></iframe>
            </div>

            <a class="twitter-timeline"  href="https://twitter.com/search?q=%40AMBaviationpics" data-widget-id="689795771164672000">Tweets sobre @AMBaviationpics</a>
            <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>

        {% endif %}
    </div>
{% endblock %}