{% block body %}
    <body style="background: url(../../imagens/sertanejo.jpg); background-repeat: no-repeat; background-position: calc; background-attachment: fixed;  padding-top: 5%;">
        <div>
            <div class="container">
                <div class="player_box">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="180" height="65">
                        <param name="movie" value="http://www.aquisertanejo.com.br/skin/assets/player/light/muses.swf" />
                        <param name="flashvars" value="url=http://158.69.25.26:8353/;&lang=auto&codec=aac&volume=65&introurl=&autoplay=true&tracking=true&jsevents=false&skin=http://www.aquisertanejo.com.br/skin/assets/player/light/hoost.xml" />
                        <embed src="http://www.aquisertanejo.com.br/skin/assets/player/light/muses.swf" flashvars="url=http://158.69.25.26:8353/;&lang=auto&codec=aac&volume=65&introurl=&autoplay=true&tracking=true&jsevents=false&skin=http://www.aquisertanejo.com.br/skin/assets/player/light/hoost.xml" width="250" scale="noscale" height="65" wmode="transparent"allowscriptaccess="always" type="application/x-shockwave-flash" style="position: fixed"/>             
                    </object>
                </div>
            </div>
        </div> 
    </body>
{% endblock %}